services:
  db:
    image: postgres:latest
    restart: always
    # networks:
    #   - result-tier
    #   - back-tier
    volumes:
      - dbdata:/var/lib/postgresql/data
      # - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  back:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      # Variables to connect to our Postgres server.
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: time_manager
      PGPORT: 5432
      # Hostname of our Postgres container.
      PGHOST: db
    ports:
      # Mapping the port to make the Phoenix app accessible outside of the container.
      - '4000:4000'
    depends_on:
      # The DB container needs to be started before we start this container.
      - db

volumes:
  db-data:
