services:
  db:
    image: postgres:latest
    restart: always
    # networks:
    #   - result-tier
    #   - back-tier
    ports:
      - '5432:5432'
    volumes:
      - dbdata:/var/lib/postgresql/foobar
      # - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql

  back:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: timemanagerjerome.azurecr.io/timemanager-back:0.1
    environment:
      # Variables to connect to our Postgres server.
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: time_manager
      PGPORT: 5432
      # Hostname of our Postgres container.
      PGHOST: db
    ports:
      # Mapping the port to make the Phoenix app accessible outside of the container.
      - '4000:4000'
    depends_on:
      # The DB container needs to be started before we start this container.
      - db

  front:
    build:
      context: ./front/web/time-manager-temp
      dockerfile: Dockerfile
    image: timemanagerjerome.azurecr.io/timemanager-front:0.1
    ports:
      - '80:80'

volumes:
  dbdata:
    driver: azure_file
    driver_opts:
      share_name: timemanagershare
      storage_account_name: timemanagerjerome
