# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - time-manager-jerome

on:
  push:
    branches:
      - jerome
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to registry
        uses: docker/login-action@v1
        with:
          registry: https://timemanagerjerome.azurecr.io/
          username: ${{ secrets.AzureAppService_ContainerUsername_0a9faa2589b24a7cb683adaf818e3297 }}
          password: ${{ secrets.AzureAppService_ContainerPassword_d625c13ea41840d386d87f424e890eb1 }}

      # - name: Build and push container image to registry
      #   uses: docker/build-push-action@v2
      # with:
      #   push: true
      #   tags: timemanagerjerome.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0a9faa2589b24a7cb683adaf818e3297 }}/0.1:${{ github.sha }}
      #   file: ./Dockerfile

      - name: Build Docker image
        run: docker-compose build
          docker push timemanagerjerome.azurecr.io/timemanager:0.1

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   environment:
  #     name: 'production'
  #     url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

  #   steps:
  #     - name: Deploy to Azure Web App
  #       id: deploy-to-webapp
  #       uses: azure/webapps-deploy@v2
  #       with:
  #         app-name: 'time-manager-jerome'
  #         slot-name: 'production'
  #         publish-profile: ${{ secrets.AzureAppService_PublishProfile_8e18969a69a84a47a36eb2436e57ca75 }}
  #         images: 'timemanagerjerome.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_0a9faa2589b24a7cb683adaf818e3297 }}/0.1:${{ github.sha }}'
