# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - time-manager-jerome

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - uses: appleboy/ssh-action@master
        name: Checkout and setup containers
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/workspace/timemanager
            docker compose down --rmi
            git checkout main
            git pull origin main
            docker compose up --build -d

#       - name: Set environment variables
#         run: |
#           cat "cloud.env" | awk -F = 'NF == 2 {print $0}' | xargs -L 1 echo >> $GITHUB_ENV

#       # - name: Set up Docker Buildx
#       #   uses: docker/setup-buildx-action@v1
#       - name: Install Docker Compose CLI
#         run: >
#           curl -L https://raw.githubusercontent.com/docker/compose-cli/main/scripts/install/install_linux.sh | sh

#       - name: Log in to registry and build images
#         uses: docker/login-action@v1
#         with:
#           registry: https://timemanagerjerome.azurecr.io/
#           username: ${{ secrets.AzureAppService_ContainerUsername_0a9faa2589b24a7cb683adaf818e3297 }}
#           password: ${{ secrets.AzureAppService_ContainerPassword_d625c13ea41840d386d87f424e890eb1 }}

#       - run: |
#           docker build -f ./server/Dockerfile ./server -t timemanagerjerome.azurecr.io/timemanager-back:0.1
#           docker push timemanagerjerome.azurecr.io/timemanager-back:0.1
#           docker build -f ./front/web/time-manager-temp/Dockerfile ./front/web/time-manager-temp -t timemanagerjerome.azurecr.io/timemanager-front:0.1
#           docker push timemanagerjerome.azurecr.io/timemanager-front:0.1

#       - name: Azure Login
#         uses: azure/login@v1
#         with:
#           creds: ${{ secrets.CI_AZURE_CREDENTIALS }}

#       - name: Docker Login to Azure
#         run: |
#           CLIENT_ID=$(echo '${{ secrets.CI_AZURE_CREDENTIALS }}' | jq --raw-output .clientId)
#           CLIENT_SECRET=$(echo '${{ secrets.CI_AZURE_CREDENTIALS }}' | jq --raw-output .clientSecret)
#           TENANT_ID=$(az account show --query homeTenantId --output tsv)
#           docker login azure --client-id "$CLIENT_ID" --client-secret "$CLIENT_SECRET" --tenant-id "$TENANT_ID"
#           az acr login --name "$REGISTRY_NAME" --username "$CLIENT_ID" --password "$CLIENT_SECRET"

#       - name: Create ACI context
#         run: |
#           SUBSCRIPTION_ID=$(az account show --query id --output tsv)
#           docker context create aci timemanageracicontext --resource-group "$RESOURCE_GROUP" --location "$AZURE_REGION" --subscription-id "$SUBSCRIPTION_ID"

#       - name: Deploy the app
#         run: |
#           docker context use timemanageracicontext
#           docker compose up
#           docker ps
